<div class="height-100">
  <div class="centered">
    <form [formGroup]="authenticationForm" novalidate>
      <div class="container-app">
        <div class="login-form-background">
          <div>
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Email" formControlName="username">
            <div>
              <small class="text-danger"
                     *ngIf="!authenticationForm.controls.username.valid && authenticationForm.controls.username.dirty">
                Username must be at least 5 characters long.
              </small>
            </div>
          </div>
          <div>
            <label><b>Password</b></label>
            <input type="password" placeholder='Enter Password' formControlName="password">
            <div>
              <small class="text-danger"
                     *ngIf="!authenticationForm.controls.password.valid && authenticationForm.controls.password.dirty">
                Password must be at least 5 characters long.
              </small>
            </div>
              <button class="btn btn-success button-submit" type="submit"
                      [disabled]="!authenticationForm.valid"
                      [class.disable]="authenticationForm.valid"
                      (click)="login(authenticationForm.value)">
                Login
              </button>
            </div>
            <div>
              <small class="text-danger">
                {{errorMessage}}
              </small>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>
