<div class="container-fluid">
  <div *ngIf="categoryList.length > 0">
    <h1 class="center">Wybierz kategorie</h1>
    <div class="row row-centered">
      <ul class="classul">
        <li class="col-lg-2 col-md-3 col-sm-3 col-xs-3 classli"
            *ngFor="let category of categoryList" (click)="onCategoryClick(category)">
          <div class="element">
            <img src={{category.image}} height="100%" width="30%">
            <div class="text">
              <h4 class="center" style="font-weight: bold">
                {{category.name}}<br/>
              </h4>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <button class="btn btn-on" *ngIf="categories.length > 0" (click)="onBackClicked()">
    Powrót do poprzedniej kategorii
  </button>
<div *ngIf="this.productList.length > 0">
  <h1 class="center">Podaj szczegóły element</h1>
  <form [formGroup]="addProductForm" novalidate>
    <div class="container">
      <div>
        <label><b>Product</b></label>
        <combo-box [listData]="productList" [displayField]="'name'" [valueField]="'productId'"
                   [localFilterCaseSensitive]="false"
                   [localFilter]="true" class="button-form-dropdown" formControlName="productId">
        </combo-box>
        <div>
          <label><b>Quantity</b></label>
          <input class="button-form" type="number" placeholder="Enter quantity" formControlName="quantity">
          <div>
            <small class="text-danger"
                   *ngIf="!addProductForm.controls.quantity.valid && addProductForm.controls.quantity.dirty">
              Username must be at least 5 characters long.
            </small>
          </div>
        </div>
        <div>
          <label><b>Cost</b></label>
          <input class="button-form" type="number" placeholder="Enter cost" formControlName="cost">
          <div>
            <small class="text-danger"
                   *ngIf="!addProductForm.controls.cost.valid && addProductForm.controls.cost.dirty">
              Username must be at least 5 characters long.
            </small>
          </div>
        </div>
        <mat-form-field class="background-single-dropdown button-form-dropdown">
          <mat-select placeholder="Choose type" formControlName="type">
            <mat-option *ngFor="let type of typeList" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
          <div>
            <small class="text-danger"
                   *ngIf="!addProductForm.controls.type.valid && addProductForm.controls.type.dirty">
              Username must be at least 5 characters long.
            </small>
          </div>
        </mat-form-field>
          <div>
            <button class="btn btn-success button-submit" type="button" (click)="addElement(addProductForm.value)">dodaj</button>
          </div>
          <div>
            <small class="text-danger">
              {{errorMessage}}
            </small>
          </div>
      </div>
    </div>
  </form>
</div>
</div>
