.container-app {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  opacity: 0.8;
}

.button-submit {
  padding: 14px 20px;
  margin: 8px 0;
  width: 100%;
}

input[type=text], input[type=date], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.transaction-form-background {
  background-color: #F0F0F0;
  padding: 20px 20px 20px 20px;
  border-radius: 16px;
}

div.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.padding-top{
  padding-top: 2%;
}
