<div class="height-100">
  <div class="centered">
    <form [formGroup]="addTransactionForm" novalidate>
      <div class="container-app cover-image">
        <div class="transaction-form-background">
          <div>
            <label><b>Name</b></label>
            <input type="text" placeholder="Enter transaction name" formControlName="name">
            <div>
              <small class="text-danger"
                     *ngIf="!addTransactionForm.controls.name.valid && addTransactionForm.controls.name.dirty">
                Transaction name must be at least 5 characters long.
              </small>
            </div>
          </div>
          <div>
            <label><b>Date</b></label>
            <div>
              <input type="date" placeholder="Enter date" formControlName="date">
            </div>
            <div>
              <small class="text-danger"
                     *ngIf="!addTransactionForm.controls.date.valid && addTransactionForm.controls.date.dirty">
                This field is required
              </small>
            </div>
          </div>
          <div>
            <div class="padding-top">
              <mat-form-field>
                <mat-select formControlName="wallet" placeholder="Wallet" name="wallet">
                  <mat-option *ngFor="let wallet of wallets" [value]="wallet.walletId">
                    {{wallet.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <small class="text-danger"
                     *ngIf="!addTransactionForm.controls.wallet.valid && addTransactionForm.controls.wallet.dirty">
                This field is required
              </small>
            </div>
            <div class="padding-top">
              <mat-form-field>
                <mat-select formControlName="type" placeholder="Type" name="type">
                  <mat-option *ngFor="let type of types" [value]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <small class="text-danger"
                     *ngIf="!addTransactionForm.controls.type.valid && addTransactionForm.controls.type.dirty">
                This field is required
              </small>
            </div>
            <div *ngIf="addTransactionForm.controls.type.value == 'INCOME'">
              <label><b>Value</b></label>
              <div>
                <input type="number" placeholder="Enter value" formControlName="cost">
              </div>
            </div>
            <button class="btn btn-success button-submit" type="submit"
                    [disabled]="!addTransactionForm.valid"
                    [class.disable]="addTransactionForm.valid"
                    (click)="addTransaction(addTransactionForm.value)">
              Dodaj
            </button>
          </div>
          <div>
            <small class="text-danger">
              {{errorMessage}}
            </small>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
