<div class="height-100">
  <div class="centered">
    <form [formGroup]="registerForm" novalidate>
      <div class="container-app cover-image">
        <div class="register-form-background">
          <div>
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Email" formControlName="username">
            <div>
              <small class="text-danger"
                     *ngIf="!registerForm.controls.username.valid && registerForm.controls.username.dirty">
                Username must be at least 5 characters long.
              </small>
            </div>
          </div>
          <div>
            <label><b>Password</b></label>
            <input type="password" placeholder='Enter Password'formControlName="password">
            <div>
              <small class="text-danger"
                     *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.dirty">
                Password must be at least 5 characters long.
              </small>
            </div>
          </div>
          <div>
            <label><b>Password Confirmation</b></label>
            <input type="password" placeholder='Type same password' formControlName="confirmPassword">
            <div>
              <small class="text-danger"
                     *ngIf="!registerForm.controls.confirmPassword.valid && registerForm.controls.confirmPassword.dirty">
                Password must be at least 5 characters long.
              </small>
              <br/>
              <small class="text-danger"
                     *ngIf="!areEqual(registerForm)  && registerForm.controls.confirmPassword.dirty">
                Passwords not match
              </small>
            </div>
          </div>
          <div>
            <button class="btn btn-success button-submit" type="submit"
                    [disabled]="!registerForm.valid"
                    [class.disable]="registerForm.valid"
                    (click)="register(registerForm.value)">
              Register
            </button>
          </div>
          <div>
            <small class="text-danger">
              {{errorMessage}}
            </small>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
