<div class="container-fluid">
<div class="center ">
  <div>
    Witaj w kontrolerze wydatków
  </div>
</div>
<div>
  <div class="row">
    <div class="col-md-7" style="background-color: #F0F0F0; border-radius: 8%">
      <div style="display: block;">
        <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [chartType]="chartType">
        </canvas>
      </div>
    </div>
    <div class="left paddingTop-2 margin-left-4 col-md-4" style="background-color: #F0F0F0; border-radius: 8%; ">
      <div>
        <h4>Wybierz rodzaj wykresu</h4>
      </div>
      <mat-form-field class="background-single-dropdown">
        <mat-select placeholder="Favorite food" name="food"
                    [(ngModel)]="chartType">
          <mat-option *ngFor="let food of chartTypes" [value]="food">
            {{food}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <form [formGroup]="chartRequestForm" novalidate>
        <div>
          <div>
            <h4>Wybierz datę początkową</h4>
          </div>
          <div class="left">
            <mat-form-field class="background-single-dropdown">
              <mat-select formControlName="beginMonth" placeholder="Favorite food" name="food">
                <mat-option *ngFor="let food of monthOptions" [value]="food.id">
                  {{food.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="left padding-left-8">
            <mat-form-field class="background-single-dropdown">
              <mat-select formControlName="beginYear" placeholder="Favorite food" name="food">
                <mat-option *ngFor="let food of yearOptions" [value]="food.id">
                  {{food.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="clear"></div>
          <div>
            <h4>Wybierz datę końcową</h4>
          </div>
          <div class="left">
            <mat-form-field class="background-single-dropdown">
              <mat-select formControlName="endMonth" placeholder="Favorite food" name="food">
                <mat-option *ngFor="let food of monthOptions" [value]="food.id">
                  {{food.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="left padding-left-8">
            <mat-form-field class="background-single-dropdown">
              <mat-select formControlName="endYear" placeholder="Favorite food" name="food">
                <mat-option *ngFor="let year of yearOptions" [value]="year.id">
                  {{year.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="clear"></div>
          <div>
            <h4>Wybierz typy wydatków</h4>
          </div>
          <div>
            <ss-multiselect-dropdown [options]="typesOptions" formControlName="types"></ss-multiselect-dropdown>
          </div>
          <div>
            <button class="btn btn-success button-submit" type="submit"
                    (click)="submit(chartRequestForm.value)">
              Rysuj
            </button>
          </div>
          <div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
