.container {
  display:flex;
  justify-content:center;
  align-items:center;
}

.center {
  text-align: center;
}

.login-form-background {
  background-color: #FFFFFF;
}

.width-70 {
  width: 70%;
}
.width-100 {
  width: 100%;
}

.left{
  float: left;
}

.paddingTop-2{
  padding-top: 2%;
}

.padding-left-2{
   padding-left: 2%;
 }

.padding-left-8{
  padding-left: 8%;
}

.clear{
  clear: both;
}

.padding-horizontal-10px{
  padding-left: 10px;
  padding-right: 10px;
}

.width-20{
  width: 20%;
}

.background-single-dropdown {
  background-color: white;
 padding-left: 12px;
 padding-right: 12px;
  padding-top: 8px;
  border-radius: 2%;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.margin-left-4{
  margin-left: 2%;
 }
