<div class="height-100">
  <div class="topnav nav-height" id="myTopnav">
    <div><a [routerLink]="['/Home']">Home</a></div>
    <div><a [routerLink]="['/Transaction']">Transactions</a></div>
    <div><a [routerLink]="['/TransactionElements']">TransactionElements</a></div>
    <div><a [routerLink]="['/TransactionElementsForm']">TransactionElements</a></div>
    <div><a [routerLink]="['/Wallets']">Wallets</a></div>
    <div class="right"><a [routerLink]="['/Register']">Sign up</a></div>
    <div class="right"><a [routerLink]="['/Account']">Sign in</a></div>
  </div>
  <div class="fixed-content-height">
    <router-outlet></router-outlet>
  </div>
</div>
