ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  font-size: 16px;
  font-weight: bold;
}

li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.right {
  float: right;
}

.topnav {
  background-color: black;
  opacity: 0.75;
  overflow: hidden;
  position: sticky;
  z-index: 100;
  top: 0;
  /*-webkit-box-shadow:0px 1px 1px #d3d3d3;*/
  /*-moz-box-shadow:0px 1px 1px #d3d3d3;*/
  /*box-shadow:0px 2px 1px #d3d3d3;*/
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
