<div class="height-100">
  <div class="centered">
    <form [formGroup]="addWalletForm" novalidate>
      <div class="container-app cover-image">
        <div class="wallet-form-background">
          <div>
            <label><b>Name</b></label>
            <input type="text" placeholder="Enter wallet name" formControlName="name">
            <div>
              <small class="text-danger"
                     *ngIf="!addWalletForm.controls.name.valid && addWalletForm.controls.name.dirty">
                Wallet name must be at least 4 characters long.
              </small>
            </div>
          </div>
          <div>
            <label><b>Currency</b></label>
            <div>
              <input type="text" placeholder="Enter wallet currency" formControlName="currency">
            </div>
            <div>
              <small class="text-danger"
                     *ngIf="!addWalletForm.controls.currency.valid && addWalletForm.controls.currency.dirty">
                Currency must be max 10 characters long.
              </small>
            </div>
          </div>
          <div>
            <button class="btn btn-success button-submit" type="submit"
                    [disabled]="!addWalletForm.valid"
                    [class.disable]="addWalletForm.valid"
                    (click)="addWallet(addWalletForm.value)">
              Dodaj Portfel
            </button>
          </div>
          <div>
            <small class="text-danger">
              {{errorMessage}}
            </small>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
