<div id="demo">
  <h1>Oto Twoje portfele</h1>
  <div class="table-responsive-vertical shadow-z-1 radius-edges">
    <table id="table" class="table table-hover table-mc-light-blue table-striped radius-edges">
      <thead>
      <tr>
        <th>Nr</th>
        <th>Nazwa</th>
        <th>Bilans</th>
        <th>Waluta
          <img src="https://cdn0.iconfinder.com/data/icons/large-glossy-icons/512/Add.png"
          class="right plus-button" (click)="navigateToForm()"/>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let wallet of userWallets;  let i = index">
        <td data-title="ID">{{i + 1}}</td>
        <td data-title="Name">{{wallet.name}}</td>
        <td data-title="Ballance">
         <span class="expense" [class.income]="isPositive(wallet.ballance)">
        {{wallet.ballance}}
         </span>
        </td>
        <td data-title="Currency">{{wallet.currency}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
