<div class="container-fluid">
  <div class="row row-centered">
    <ul>
      <div class="search">
        <h1>Wyszukiwarka</h1>
        <input type="text" placeholder="type search word" class="form-control input-lg" value=""
               (input)="changeFilterWord($event.target.value)"/>
      </div>
      <div style="width: 85%;margin: auto">
        <section class="example-section" style="padding-top: 20%" *ngIf="this.loadActive">
          <mat-progress-bar
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [value]="value"
            [bufferValue]="bufferValue">
          </mat-progress-bar>
        </section>
        <h1 *ngIf="this.noDataMessage">
          Brak danych
        </h1>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"
            *ngFor="let element of transactionElements | elementFilter: filterWord">
          <div class="element card-color">
            <div class="relative-content">
              <div class="right">
                <button class="btn btn-danger button-right"
                        (click)="deleteTransactionElement(element.elementId)">
                  <i class="glyphicon glyphicon-remove" style="color: black"></i>
                </button>
              </div>
              <img src={{element.product.image}} height="150" width="100" class="image-padding image-round">
            </div>
            <div class="text">
              <h4 class="center bold">
                {{element.product.name}}<br/>
              </h4>
              <div style="display: block">
                <div>
                  <div class="left">Cena:</div>
                  <div class="right">{{element.cost}}</div>
                  <div class="clearboth"></div>
                </div>
                <div>
                  <div class="left">Ilość:</div>
                  <div class="right">{{element.quantity}} {{element.product.unit.name}}</div>
                  <div class="clearboth"></div>
                </div>
                <div>
                  <div class="left">Typ:</div>
                  <div class="right">{{element.type}}</div>
                  <div class="clearboth"></div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
