ul {

  list-style: none;
  padding: 0;
  text-align: center;
}

li {

  padding-top: 16px;
  padding-bottom: 16px;
}

.element {
  overflow: hidden;
  display: block;
  border-radius: 6px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.element:hover {
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.4);
}

.element > .text {
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 4%;
}

.element > div > img {
  width: 100%;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
  display: block;

}

.right2 {
  text-align: right;
}

.left {
  padding-left: 5px;
  text-align: left;
  display: block;
  float: left;
}

.buttonown {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 16px;
  border-radius: 50%;
  background-color: white;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.floatleftclass {
  float: left;
}

.clearboth {
  clear: both;
}

.textColor {
  color: #fff;
  font-weight: bold;
}

.customHeight {
  height: 200px;
}

.custom20Height {
  height: 20%;
  padding-top: 10px;
}

.big-text {
  font-size: 30px;
  font-weight: bold;
}

.search {
  width: 40%;
  margin: auto;
}

.card-color {
  background-color: #EFEFEF;
}

.image-round {
  border-radius: 8%;
}

.image-padding {

}

.bold {
  font-weight: bold;
}

.relative-content {
  position: relative;
}

.button-left {
  position: absolute;
  left: 10px;
  top:10px;
  border-radius: 50%;
}

.button-right {
  position: absolute;
  right: 10px;
  top:10px;
  border-radius: 50%;
}
