<div id="demo">
  <h1>Tabela wykonanych transakcji</h1>
  <h2>W tej tabeli pokazane są wszytskie Twoje transakcje</h2>

  <form [formGroup]="filterTransactionForm" novalidate>
    <mat-form-field class="padding-left-right">
      <mat-select formControlName="wallet" placeholder="Wallet name" name="wallet">
        <mat-option *ngFor="let wallet of wallets" [value]="wallet.walletId">
          {{wallet.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="padding-left-right">
      <mat-select formControlName="type" placeholder="Type of transaction" name="type">
        <mat-option *ngFor="let type of types" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="filterTransactions(filterTransactionForm.value)" class="btn btn-success button-submit">submit</button>
  </form>
  <div class="table-responsive-vertical shadow-z-1 radius-edges">
    <table id="table" class="table table-hover table-mc-light-blue table-striped radius-edges">
      <thead>
      <tr>
        <th>Nr </th>
        <th>Nazwa</th>
        <th>Kwota</th>
        <th>Data</th>
        <th>Portfel</th>
        <th>Operacje
          <img src="https://cdn0.iconfinder.com/data/icons/large-glossy-icons/512/Add.png"
               class="right operation-button" (click)="navigateToForm()"/>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of userTransactions;  let i = index">
        <td data-title="ID">{{i + 1 + (page - 1) * 10}}</td>
        <td data-title="Name">{{transaction.name}}</td>
        <td data-title="Cost">
          <span [class.expense] = "isExpense(transaction.type)"
                [class.income] = "isIncome(transaction.type)"              >
          {{transaction.cost + ' ' + transaction.wallet.currency}}
        </span>
        </td>
        <td data-title="Date">{{parseDate(transaction.date)}}</td>
        <td data-title="Wallet">{{transaction.wallet.name}}</td>
        <td data-title="Operations">
          <img *ngIf="transaction.type == 'EXPENSE'"
            src="https://image.flaticon.com/icons/png/512/1/1755.png"
               class="operation-button" (click)="onTransactionClick(transaction.transactionId)"/>
          <img src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/256/Folders-OS-Recycle-Bin-Full-Metro-icon.png"
               class="operation-button" (click)="deleteTransaction(transaction.transactionId)"/>
        </td>
      </tr>
      </tbody>
    </table>
    <section class="example-section" *ngIf="this.loadActive">
      <mat-progress-bar
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value"
        [bufferValue]="bufferValue">
      </mat-progress-bar>
    </section>
    <h2 *ngIf="this.noDataMessage">
      Brak danych
    </h2>
  </div>
  <div class="center-div">
    <ul class="pagination modal-1">
      <li>
        <button class="prev" (click)="previousPage()" [disabled]="page === 1">&laquo;</button>
      </li>
      <li *ngIf="leftDotsVisible">
        <button (click)="navigateToPage(1)">1</button>
      </li>
      <li *ngIf="leftDotsVisible && visiblePages[0] != 2">
        <button (click)="navigateToPage(visiblePages[0] - 1)">...</button>
      </li>
      <li *ngFor="let page of visiblePages">
        <button [class.active]="isActive(page)" (click)="navigateToPage(page)">{{page}}</button>
      </li>
      <li *ngIf="rightDotsVisible && visiblePages[visiblePages.length - 1] + 1 !== numberOfPages">
        <button (click)="navigateToPage(visiblePages[visiblePages.length - 1] + 1)">...</button>
      </li>
      <li *ngIf="rightDotsVisible">
        <button [class.active]="isActive(numberOfPages)" (click)="navigateToPage(numberOfPages)">{{numberOfPages}}</button>
      </li>
      <li>
        <button class="next" (click)="nextPage()" [disabled]="page === numberOfPages">&raquo;</button>
      </li>
    </ul>
  </div>
</div>

