/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  /*background-color: beige;*/
  background-color: #FFFFFF;
  /*background-image: url("http://ysfine.com/world/china/shanghai050.jpg");;*/
  /*background-size:cover;*/
}

.height-100 {
  height: 100%;
}

.nav-height {
  height: 50px;
}

